<!-- Green Bar -->
<div class="container-fluid green-container">
	<div class="row">
		<div class="col-span-12 text-center">
		</div>
	</div>
</div>

<!-- USER CONTAINER -->
<div class="container sub-container-divider">
	<div class="row">
		<div class="col-lg-8 user-section">
			<span class="welcome">Welcome<br></span>
			<span id="userName" class="userNameText">{{userData.firstname}} {{userData.lastname}}!</span>

		</div>
		<div class="col-lg-4 text-right">
			<a href="/logout">
				<button id='logout' class="float-left submit-button">Logout</button>
			</a>
		</div>
	</div>

	<!-- USER TABLE FOR TESTING -->
	<div class="row">
		<div class='col-12'>
			<table class="table user-table">
				<thead>
					<tr>
						<th scope="col">First Name</th>
						<th scope="col">Last Name</th>
						<th scope="col">Username</th>
						<th scope="col">fav1</th>
						<th scope="col">fav2</th>
						<th scope="col">fav3</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{userData.firstname}}</td>
						<td>{{userData.lastname}}</td>
						<td>{{userData.username}}</td>
						<td>{{userData.fav1}}</td>
						<td>{{userData.fav2}}</td>
						<td>{{userData.fav3}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- USER FAVE TABLE -->
<div class="container">
	<div class='row'>
		<div class='col-12'>
			<table class='table user-table'>
				<thead>
					<tr>
						<th scope="col">Favorite</th>
						<th scope="col">Rank</th>
						<th scope="col">Name</th>
						<th scope="col">Symbol</th>
						<th scope="col">Price (USD)</th>
						<th scope="col">Total Supply</th>
						<th scope="col">Percent Change (24H)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>#1</td>
						<td>{{coinData.0.rank}}</td>
						<td>{{coinData.0.name}}</td>
						<td>{{coinData.0.symbol}}</td>
						<td>{{coinData.0.price_usd}}</td>
						<td>{{coinData.0.total_supply}}</td>
						<td>{{coinData.0.percent_change_24h}}</td>
					</tr>
					<tr>
						<td>#2</td>
						<td>{{coinData.1.rank}}</td>
						<td>{{coinData.1.name}}</td>
						<td>{{coinData.1.symbol}}</td>
						<td>{{coinData.1.price_usd}}</td>
						<td>{{coinData.1.total_supply}}</td>
						<td>{{coinData.1.percent_change_24h}}</td>
					</tr>
					<tr>
						<td>#3</td>
						<td>{{coinData.2.rank}}</td>
						<td>{{coinData.2.name}}</td>
						<td>{{coinData.2.symbol}}</td>
						<td>{{coinData.2.price_usd}}</td>
						<td>{{coinData.2.total_supply}}</td>
						<td>{{coinData.2.percent_change_24h}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- USER TABLE OF CHOICES -->
	<div class="row">
		<div class="col-12">
			<table class="table user-table">
				<thead>
					<tr>
						<th scope="col">Rank</th>
						<th scope="col">Name</th>
						<th scope="col">Symbol</th>
						<th scope="col">Price (USD)</th>
						<th scope="col">Total Supply</th>
						<th scope="col">Percent Change (24H)</th>
					</tr>
				</thead>
				<tbody>
					{{#each coinData}}
						<tr>
							<td>{{this.rank}}</td>
							<td>{{this.name}}</td>
							<td>{{this.symbol}}</td>
							<td>{{this.price_usd}}</td>
							<td>{{this.total_supply}}</td>
							<td>{{this.percent_change_24h}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- COIN TRACKER CONTAINER -->
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 text-center top-cc">
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 text-center top-cc">
			<h2>Top Cryptocurrencies in the World</h2>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 text-center top-cc">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">Tracker</h2>
				</div>
				<div class="panel-body">
					<table class="table table-hover" id="coin-tracker">
						<thead>
							<tr>
								<th class="th-name">Name</th>
								<th class="th-symbol">Symbol</th>
								<th class="th-rank">rank</th>
								<th class="th-price">Price</th>
								<th class="th-market">Market Cap</th>
								<th class="th-percent-change">Percent Change(24h)</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>